@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?sy3nku');
  src:  url('fonts/icomoon.eot?sy3nku#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?sy3nku') format('truetype'),
    url('fonts/icomoon.woff?sy3nku') format('woff'),
    url('fonts/icomoon.svg?sy3nku#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bubble:before {
  content: "\e96b";
}
.icon-menu3:before {
  content: "\e9bf";
}
.icon-flag:before {
  content: "\e9cc";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-loop2:before {
  content: "\ea2e";
}
.icon-shuffle:before {
  content: "\ea30";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-move-up:before {
  content: "\ea46";
}
.icon-move-down:before {
  content: "\ea47";
}
