<div>
    <div style="margin-left: 15px;">
        <div>
            <template v-for="column in detailData.columns">
                <div class="badge badge-primary" style="width: 150px; display: inline-block">
                    <span :ref="'detailcolumn_' + column.name + '_' + column.guid">
                        {{column.name}}
                    </span>
                    <span v-show="column.sort.order" @contextmenu="onContextMenu($event, column.name, column.guid, contextMenu)"  style="float:right">
                        <span v-show="column.sort.direction=='dsc'" class="icon-arrow-down2"></span>
                        <span v-show="column.sort.direction=='asc'" class="icon-arrow-up2"></span>
                        <span style="float:right">{{column.sort.order}}</span>
                    </span>
                    <span v-show="!column.sort.order" @contextmenu="onContextMenu($event, column.name, column.guid, contextMenu)" 
                         style="float:right">
                        <span class="icon-sort-amount-asc"></span>
                    </span>
                </div>
            </template>
        </div>
        <template v-for="detail in getPaginatedData(detailData)" :key="detail.id">
            <div style="margin-left: 5px">
                <template v-for="column in detailData.columns">
                    <span style="width: 150px; display: inline-block">{{detail[column.name]}}</span>
                </template>
            </div>
        </template>
        <div style="display: inline-block" v-show="numberOfPages() > 1">
            <span class="icon-circle-left btn-sm btn-secondary" 
                v-on:click="pagePrevious(detailData)" :disabled="pageNumber==1">
            </span>
            <span>{{pageNumber}}</span>
            <span class="icon-circle-right btn-sm btn-secondary" :disabled="isLastPage()"
                    v-on:click="pageNext(detailData)">
            </span>
        </div>
    </div>

    <grid-vue-context-menu v-show="contextMenu.isVisible"
            v-bind:container-style="contextMenu.containerStyle"
            v-bind:header-name="contextMenu.headerName" />
</div>